.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.vercel_flutter/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
*.iml
*.log
.env
backend/.env
backend/node_modules/
backend/dist/
